body{
    background-color: black;
}
h1{
    color: #fff;
    font-family: 'poppins',serif;
    cursor: pointer;
    margin: 20px;
    font-size: 19px;
}
.navbar ul{
    list-style: none;
    margin: 0%;
    padding: 10px 600px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    float: right;
    overflow: hidden;
    font-weight: 200;
    
}
.navbar a{
    text-decoration: none;
    color: #fff;
    justify-content: space-between;
    padding: 30px 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    position: fixed;
    top: 0;
    z-index: 100;
    border-radius: 30px;
    backdrop-filter: blur(5px)
    
}
.navbar ul a:hover{
    background-color :  #deab5f;
}
h1:hover {
    background: #deab5f;
}
